.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  overflow-x: hidden;
}

.hero {
  background-image: url(https://images.unsplash.com/photo-1502784444187-359ac186c5bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1901&q=80);
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100vw;
}

.header-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  box-shadow: 5px 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.header-text > h1 {
  margin-left: 3em;
}

.header-text > h2 {
  margin-right: 3em;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom: 3px solid black;
  width: 100vw;
  height: 350px;
}

li {
  font-style: italic;
  font-weight: bold;
  color: brown;
  font-size: large;
  list-style: none;
}

.submit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  margin-left: 1em;
  display: block;
}
h1
{
  text-align: center;
}
.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: block;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 2px;
}

form {
  display: flex;
  justify-content: center;
}
.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}

